In [69]:
import pandas as pd
import numpy as np
import math
import os
import sys

In [70]:
file = 'ChicagoSketch_net.tntp'
graph_object = pd.read_csv(file, skiprows=8, sep='\t')
graph_object

,~,init_node,term_node,capacity,length,free_flow_time,b,power,speed,toll,link_type,;
0,NaN,1,547,49500,0.86267,0.00,0.15,4,0,0,3,;
1,NaN,2,548,49500,0.86267,0.00,0.15,4,0,0,3,;
2,NaN,3,549,49500,0.86267,0.00,0.15,4,0,0,3,;
3,NaN,4,550,49500,0.86267,0.00,0.15,4,0,0,3,;
4,NaN,5,551,49500,0.86267,0.00,0.15,4,0,0,3,;
...,...,...,...,...,...,...,...,...,...,...,...,...
2945,NaN,931,906,500,22.65430,14.78,0.15,4,0,0,1,;
2946,NaN,932,386,49500,0.86267,0.00,0.15,4,0,0,3,;
2947,NaN,932,515,5000,10.44260,5.93,0.15,4,0,0,2,;
2948,NaN,933,387,49500,0.86267,0.00,0.15,4,0,0,3,;
2949,NaN,933,534,3500,6.10762,5.96,0.15,4,0,0,2,;

In [71]:
graph_object.columns

Index(['~', 'init_node', 'term_node', 'capacity', 'length', 'free_flow_time',
       'b', 'power', 'speed', 'toll', 'link_type', ';'],
      dtype='object')

In [72]:
cleaned= [s.strip().lower() for s in graph_object.columns]
graph_object.columns = cleaned
graph_object.drop(['~', ';'], axis=1, inplace=True)

In [73]:
graph_object

,init_node,term_node,capacity,length,free_flow_time,b,power,speed,toll,link_type
0,1,547,49500,0.86267,0.00,0.15,4,0,0,3
1,2,548,49500,0.86267,0.00,0.15,4,0,0,3
2,3,549,49500,0.86267,0.00,0.15,4,0,0,3
3,4,550,49500,0.86267,0.00,0.15,4,0,0,3
4,5,551,49500,0.86267,0.00,0.15,4,0,0,3
...,...,...,...,...,...,...,...,...,...,...
2945,931,906,500,22.65430,14.78,0.15,4,0,0,1
2946,932,386,49500,0.86267,0.00,0.15,4,0,0,3
2947,932,515,5000,10.44260,5.93,0.15,4,0,0,2
2948,933,387,49500,0.86267,0.00,0.15,4,0,0,3
2949,933,534,3500,6.10762,5.96,0.15,4,0,0,2

In [74]:
graph_object.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2950 entries, 0 to 2949
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   init_node       2950 non-null   int64
 1   term_node       2950 non-null   int64
 2   capacity        2950 non-null   int64
 3   length          2950 non-null   float64
 4   free_flow_time  2950 non-null   float64
 5   b               2950 non-null   float64
 6   power           2950 non-null   int64
 7   speed           2950 non-null   int64
 8   toll            2950 non-null   int64
 9   link_type       2950 non-null   int64
dtypes: float64(3), int64(7)
memory usage: 230.6 KB

In [75]:
max(graph_object["init_node"])

933

In [76]:
len(set(graph_object["init_node"]))

933

In [77]:
input_Q1Q2 = [(253, 127), (139, 305), (148, 99), (363, 134), (778, 396), (650, 759), (724, 547), (788, 412), (105, 1)]
    
output_Q1Q2 = [38, 59, 29, 76, 30, 70, 53, 59, 51]

result =[]

for item in input_Q1Q2:
    source = item[0]
    destination = item[1]
    shortest_dist = -1

    
    # connections holds the graph. It is a dictionary of dictionaries that stores the neighbor nodes and their 
    # costs for each node
    connections = {}

    for node in range(1,max(graph_object["init_node"])+1):
        connections[node] = {}    

    for i in range(graph_object.shape[0]):
        row = graph_object.iloc[i]
        start = row.init_node
        end = row.term_node
        cost = row.free_flow_time 
        connections[start][int(end)] = cost
        
     
    # creating a list of min cost to reach each node from source
    mincost = [sys.maxsize for i in range(max(graph_object["init_node"]))]
    mincost[source] = 0

        
    # creating a dictionary of neighbor node and its cost. the node with min cost is popped 
    # from here and used to find neighbors from that
    node_pq = {}
    node_pq[source] = 0

    while len(node_pq) > 0:

        node_min = min(node_pq, key=lambda x: node_pq[x])      # return node with min cost from the dict
        node_min_cost = node_pq[node_min]

        for neighbor,cost in connections[node_min].items():
            if node_min_cost + cost < mincost[neighbor-1]:
                mincost[neighbor-1] = node_min_cost + cost
                node_pq[neighbor] = mincost[neighbor-1]

        del node_pq[node_min]

        
        
    if(mincost[destination] != sys.maxsize):
        shortest_dist = mincost[destination-1]
        
    result.append(shortest_dist)
    
    
    
result

[37.51,
 59.09,
 28.660000000000004,
 75.67000000000002,
 29.619999999999997,
 69.96999999999998,
 53.059999999999995,
 59.27,
 50.62999999999999]